# American Time Use Data

Ah, the pleasures of getting data from other people. Other people who may assume you have access to proprietary software like SPSS or SAS.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
f = open("data/columns.txt")

colnames = []
colspecs = []
for line in f:
    match = (re.match(r'\s+(\w+)\s+(\d+)-(\d+)', line)).groups(0)
    colnames.append(match[0])
    colrange = []
    colrange.append(int(match[1]))
    colrange.append(int(match[2]))
    col_tuple = tuple(colrange)
    colspecs.append(col_tuple)

f.close()

In [3]:
doc = []
for line in open("data/atus_00001.dat", 'r'):
    item = line.rstrip() # strip off newline and any other trailing whitespace
    itemlist = []
    for a,b in colspecs:
        itemlist.append( item[a:b] )
    doc.append(itemlist)

In [4]:
df = pd.DataFrame(doc, columns=colnames)

In [5]:
df.head()

,CASEID,YEAR,PERNUM,LINENO,DATE,WT06,AGE,SEX,RACE,MARST,...,BLS_SOCIAL_SOCSERV,BLS_SOCIAL_TRAVEL,BLS_SOCIAL_VOL,BLS_SOCIAL_VOLACT,BLS_WORK,BLS_WORK_OTHER,BLS_WORK_SEARCH,BLS_WORK_TRAVEL,BLS_WORK_WORKING,BLS_WORK_WORKREL
0,0030100013280,2003,1,01,20030103,155462.672158000,60,1,110,1,...,000,000,000,000,000,000,000,000,000,000
1,0030100013344,2003,1,01,20030104,735322.527819000,41,2,100,1,...,000,000,000,000,000,000,000,000,000,000
2,0030100013352,2003,1,01,20030104,830527.482672000,26,2,100,2,...,000,000,000,000,000,000,000,000,000,000
3,0030100013848,2003,1,01,20030102,622022.995205000,36,2,110,1,...,000,000,000,000,120,000,120,000,000,000
4,0030100014165,2003,1,01,20030109,068387.344956000,51,1,100,1,...,000,000,000,000,515,000,000,015,500,000

In [6]:
df.shape

(170842, 126)

Sublime Text's multiline cursor, amirite?

In [7]:
race_dict = {
        "0100" : "White only",
    "0110" : "Black only",
    "0120" : "American Indian, Alaskan Native",
    "0130" : "Asian or Pacific Islander",
    "0131" : "Asian only",
    "0132" : "Hawaiian Pacific Islander only",
    "0200" : "White-Black",
    "0201" : "White-American Indian",
    "0202" : "White-Asian",
    "0203" : "White-Hawaiian",
    "0210" : "Black-American Indian",
    "0211" : "Black-Asian",
    "0212" : "Black-Hawaiian",
    "0220" : "American Indian-Asian",
    "0221" : "American Indian-Hawaiian",
    "0230" : "Asian-Hawaiian",
    "0300" : "White-Black-American Indian",
    "0301" : "White-Black-Asian",
    "0302" : "White-Black-Hawaiian",
    "0310" : "White-American Indian-Asian",
    "0311" : "White-American Indian-Hawaiian",
    "0320" : "White-Asian-Hawaiian",
    "0330" : "Black-American Indian-Asian",
    "0331" : "Black-American Indian-Hawaiian",
    "0340" : "Black-Asian-Hawaiian",
    "0350" : "American Indian-Asian-Hawaiian",
    "0398" : "Other 3 race combinations",
    "0399" : "2 or 3 races, unspecified",
    "0400" : "White-Black-American Indian-Asian",
    "0401" : "White-Black-American Indian-Hawaiian",
    "0402" : "White-Black-Asian-Hawaiian",
    "0403" : "Black-American Indian-Asian-Hawaiian",
    "0404" : "White-American Indian-Asian-Hawaiian",
    "0500" : "White-Black-American Indian-Asian-Hawaiian",
    "0599" : "4 or 5 races, unspecified",
    "9999" : "NIU (Not in universe)"
}

In [8]:
marriage_dict = {
        "01" : "Married - spouse present",
    "02" : "Married - spouse absent",
    "03" : "Widowed",
    "04" : "Divorced",
    "05" : "Separated",
    "06" : "Never married",
    "99" : "NIU (Not in universe)"
}

In [9]:
citizenship_dict = {
        "001" : "Native, born in United States",
    "002" : "Native, born in Puerto Rico or U.S. Outlying Area",
    "003" : "Native, born abroad of American parent or parents",
    "004" : "Foreign born, U.S. citizen by naturalization",
    "005" : "Foreign born, not a U.S. citizen",
    "999" : "NIU (Not in universe)"
}

In [10]:
genhealth_dict = {
        "01" : "Excellent",
    "02" : "Very good",
    "03" : "Good",
    "04" : "Fair",
    "05" : "Poor",
    "96" : "Refused",
    "97" : "Don't know",
    "99" : "NIU (Not in universe)"
}

In [11]:
edu_dict = {
        "010" : "Less than 1st grade",
    "011" : "1st, 2nd, 3rd, or 4th grade",
    "012" : "5th or 6th grade",
    "013" : "7th or 8th grade",
    "014" : "9th grade",
    "015" : "10th grade",
    "016" : "11th grade",
    "017" : "12th grade - no diploma",
    "020" : "High school graduate - GED",
    "021" : "High school graduate - diploma",
    "030" : "Some college but no degree",
    "031" : "Associate degree - occupational vocational",
    "032" : "Associate degree - academic program",
    "040" : "Bachelor's degree (BA, AB, BS, etc.)",
    "041" : "Master's degree (MA, MS, MEng, MEd, MSW, etc.)",
    "042" : "Professional school degree (MD, DDS, DVM, etc.)",
    "043" : "Doctoral degree (PhD, EdD, etc.)",
    "999" : "NIU (Not in universe)"
}

In [12]:
eduyears_dict = {
        "100" : "Grades 1-12",
    "101" : "Less than first grade",
    "102" : "First through fourth grade",
    "105" : "Fifth through sixth grade",
    "107" : "Seventh through eighth grade",
    "109" : "Ninth grade",
    "110" : "Tenth grade",
    "111" : "Eleventh grade",
    "112" : "Twelfth grade",
    "200" : "College",
    "213" : "College--one year",
    "214" : "College--two years",
    "215" : "College--three years",
    "216" : "College--four years",
    "217" : "Bachelor's degree",
    "300" : "Advanced degree",
    "316" : "Master's degree",
    "317" : "Master's degree--one year program",
    "318" : "Master's degree--two year program",
    "319" : "Master's degree--three+ year program",
    "320" : "Professional degree",
    "321" : "Doctoral degree",
    "999" : "NIU (Not in universe)"
}

In [13]:
schlcoll_dict = {
        "01" : "Not enrolled",
    "02" : "High school part time",
    "03" : "High school full time",
    "04" : "College/university part time",
    "05" : "College/university full time",
    "96" : "Refused",
    "99" : "NIU (Not in universe)"
}

In [14]:
schlcoll_cpsb_dict = {
        "01" : "Not enrolled",
    "02" : "High school part time",
    "03" : "High school full time",
    "04" : "College/university part time",
    "05" : "College/university full time",
    "98" : "Blank",
    "99" : "NIU (Not in universe)"
}

In [15]:
employment_dict = {
        "01" : "Employed - at work",
    "02" : "Employed - absent",
    "03" : "Unemployed - on layoff",
    "04" : "Unemployed - looking",
    "05" : "Not in labor force",
    "99" : "NIU (Not in universe)"
}

In [16]:
classworker_dict = {
        "01" : "Government, federal",
    "02" : "Government, state",
    "03" : "Government, local",
    "04" : "Private, for profit",
    "05" : "Private, nonprofit",
    "06" : "Self-employed, incorporated",
    "07" : "Self-employed, unincorporated",
    "08" : "Without pay",
    "99" : "NIU (Not in universe)"
}

In [17]:
occupation_dict = {
    "0110" : "Management occupations",
    "0111" : "Business and financial operations occupations",
    "0120" : "Computer and mathematical science occupations",
    "0121" : "Architecture and engineering occupations",
    "0122" : "Life, physical, and social science occupations",
    "0123" : "Community and social service occupations",
    "0124" : "Legal occupations",
    "0125" : "Education, training, and library occupations",
    "0126" : "Arts, design, entertainment, sports, and media occupations",
    "0127" : "Healthcare practitioner and technical occupations",
    "0130" : "Healthcare support occupations",
    "0131" : "Protective service occupations",
    "0132" : "Food preparation and serving related occupations",
    "0133" : "Building and grounds cleaning and maintenance occupations",
    "0134" : "Personal care and service occupations",
    "0140" : "Sales and related occupations",
    "0150" : "Office and administrative support occupations",
    "0160" : "Farming, fishing, and forestry occupations",
    "0170" : "Construction and extraction occupations",
    "0180" : "Installation, maintenance, and repair occupations",
    "0190" : "Production occupations",
    "0200" : "Transportation and material moving occupations",
    "9999" : "NIU (Not in universe)"
}

In [19]:
df.columns

Index(['CASEID', 'YEAR', 'PERNUM', 'LINENO', 'DATE', 'WT06', 'AGE', 'SEX',
       'RACE', 'MARST',
       ...
       'BLS_SOCIAL_SOCSERV', 'BLS_SOCIAL_TRAVEL', 'BLS_SOCIAL_VOL',
       'BLS_SOCIAL_VOLACT', 'BLS_WORK', 'BLS_WORK_OTHER', 'BLS_WORK_SEARCH',
       'BLS_WORK_TRAVEL', 'BLS_WORK_WORKING', 'BLS_WORK_WORKREL'],
      dtype='object', length=126)

In [21]:
df["MARST"].value_counts()

1    84179
6    41327
4    23105
3    15046
5     4710
2     2475
Name: MARST, dtype: int64

# On average, how many hours Americans sleep....

In [38]:
df["BLS_PCARE_SLEEP"].astype(int).mean() / 60

8.716413508778091

# Sleep by marital status

In [37]:
married = df[df["MARST"] == "1"]
married_longdist = df[df["MARST"] == "2"]
widowed = df[df["MARST"] == "3"]
divorced = df[df["MARST"] == "4"]
separated = df[df["MARST"] == "5"]
single = df[df["MARST"] == "6"]

In [34]:
married["BLS_PCARE_SLEEP"].astype(int).mean() / 60

8.5393142391015964

In [39]:
divorced["BLS_PCARE_SLEEP"].astype(int).mean() / 60

8.6060802135179983

In [40]:
separated["BLS_PCARE_SLEEP"].astype(int).mean() / 60

8.8152689313517349

In [36]:
married_longdist["BLS_PCARE_SLEEP"].astype(int).mean() / 60

8.8472457912457916

In [41]:
widowed["BLS_PCARE_SLEEP"].astype(int).mean() / 60

8.9169856883335559

In [31]:
single["BLS_PCARE_SLEEP"].astype(int).mean() / 60

9.0467075600293594

# What might be interesting to check out:

+ BLS_LEIS_SPORT : Sports, Exercise, and Recreation
+ BLS_LEIS_SOCCOM : Socializing & Communicating 
+ BLS_LEIS_SOC : Socializing, Relaxing, and Leisure
+ BLS_LEIS : Socializing, Relaxing, and Leisure,Sports, Exercise, and Recreation, related travel 
+ BLS_HHACT_PET: Animals & pets
+ BLS_HHACT_LAWN : Lawn, Garden, and Houseplants 
+ BLS_HHACT_FOOD : Food and Drink Preparation, Presentation, and Clean-up 
+ BLS_HHACT : Household Activities
+ BLS_LEIS_TV : TV & Movies 
+ BLS_SOCIAL_VOL : Volunteer Activities 
+ BLS_SOCIAL_CIVIC : Civic Obligations & Participation 
+ BLS_WORK : Work & work-related specifications 
+ BLS_WORK_OTHER : Other Income-Generating Activities
+ BLS_WORK_SEARCH : Job Search and Interviewing
+ BLS_WORK_WORKREL : Work-Related Activities


 EMPSTAT		Labor force status
01		Employed - at work
02		Employed - absent
03		Unemployed - on layoff
04		Unemployed - looking
05		Not in labor force
99		NIU (Not in universe)


 EDUC		Highest level of school completed
		Less than HS diploma
010		Less than 1st grade
011		1st, 2nd, 3rd, or 4th grade
012		5th or 6th grade
013		7th or 8th grade
014		9th grade
015		10th grade
016		11th grade
017		12th grade - no diploma
		HS diploma, no college
020		High school graduate - GED
021		High school graduate - diploma
		Some college
030		Some college but no degree
031		Associate degree - occupational vocational
032		Associate degree - academic program
		College degree +
040		Bachelor's degree (BA, AB, BS, etc.)
041		Master's degree (MA, MS, MEng, MEd, MSW, etc.)
042		Professional school degree (MD, DDS, DVM, etc.)
043		Doctoral degree (PhD, EdD, etc.)
999		NIU (Not in universe)

In [47]:
print("SINGLE PEOPLE:", single["BLS_PCARE_SLEEP"].astype(int).mean() / 60)
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_PCARE_SLEEP"].astype(int).mean() / 60)
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_PCARE_SLEEP"].astype(int).mean() / 60)
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_PCARE_SLEEP"].astype(int).mean() / 60)
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_PCARE_SLEEP"].astype(int).mean() / 60)
print("_____")
print("MARRIED PEOPLE:", married["BLS_PCARE_SLEEP"].astype(int).mean() / 60)

SINGLE PEOPLE: 9.04670756003
_____
DIVORCED PEOPLE: 8.60608021352
_____
WIDOWED PEOPLE: 8.91698568833
_____
SEPARATED PEOPLE: 8.81526893135
_____
MARRIED LONGDIST PEOPLE: 8.84724579125
_____
MARRIED PEOPLE: 8.5393142391

# BLS_LEIS_SPORT : Sports, Exercise, and Recreation (in minutes)

In [50]:
print("SINGLE PEOPLE:", single["BLS_LEIS_SPORT"].astype(int).mean())
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_LEIS_SPORT"].astype(int).mean())
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_LEIS_SPORT"].astype(int).mean())
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_LEIS_SPORT"].astype(int).mean())
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_LEIS_SPORT"].astype(int).mean())
print("_____")
print("MARRIED PEOPLE:", married["BLS_LEIS_SPORT"].astype(int).mean())

SINGLE PEOPLE: 26.593897452
_____
DIVORCED PEOPLE: 16.3897857607
_____
WIDOWED PEOPLE: 10.8919314103
_____
SEPARATED PEOPLE: 13.4630573248
_____
MARRIED LONGDIST PEOPLE: 16.6424242424
_____
MARRIED PEOPLE: 19.0421126409

# BLS_LEIS_SOCCOM : Socializing & Communicating

In [51]:
print("SINGLE PEOPLE:", single["BLS_LEIS_SOCCOM"].astype(int).mean())
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_LEIS_SOCCOM"].astype(int).mean())
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_LEIS_SOCCOM"].astype(int).mean())
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_LEIS_SOCCOM"].astype(int).mean())
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_LEIS_SOCCOM"].astype(int).mean())
print("_____")
print("MARRIED PEOPLE:", married["BLS_LEIS_SOCCOM"].astype(int).mean())

SINGLE PEOPLE: 52.4066590849
_____
DIVORCED PEOPLE: 44.8703743778
_____
WIDOWED PEOPLE: 48.9110062475
_____
SEPARATED PEOPLE: 47.9630573248
_____
MARRIED LONGDIST PEOPLE: 49.5854545455
_____
MARRIED PEOPLE: 48.0118081707

# BLS_HHACT_PET: Animals & pets

In [52]:
print("SINGLE PEOPLE:", single["BLS_HHACT_PET"].astype(int).mean())
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_HHACT_PET"].astype(int).mean())
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_HHACT_PET"].astype(int).mean())
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_HHACT_PET"].astype(int).mean())
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_HHACT_PET"].astype(int).mean())
print("_____")
print("MARRIED PEOPLE:", married["BLS_HHACT_PET"].astype(int).mean())

SINGLE PEOPLE: 4.66733612408
_____
DIVORCED PEOPLE: 7.11685782298
_____
WIDOWED PEOPLE: 7.03834906287
_____
SEPARATED PEOPLE: 4.14946921444
_____
MARRIED LONGDIST PEOPLE: 4.45373737374
_____
MARRIED PEOPLE: 5.28471471507

# BLS_HHACT : Household Activities

In [54]:
print("SINGLE PEOPLE:", single["BLS_HHACT"].astype(int).mean() / 60)
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_HHACT"].astype(int).mean() / 60)
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_HHACT"].astype(int).mean() / 60)
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_HHACT"].astype(int).mean() / 60)
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_HHACT"].astype(int).mean() / 60)
print("_____")
print("MARRIED PEOPLE:", married["BLS_HHACT"].astype(int).mean() / 60)

SINGLE PEOPLE: 1.37408594865
_____
DIVORCED PEOPLE: 2.09083387434
_____
WIDOWED PEOPLE: 2.40516748638
_____
SEPARATED PEOPLE: 1.99970276008
_____
MARRIED LONGDIST PEOPLE: 1.9829023569
_____
MARRIED PEOPLE: 2.31258766042

# BLS_LEIS_TV : TV & Movies

In [55]:
print("SINGLE PEOPLE:", single["BLS_LEIS_TV"].astype(int).mean() / 60)
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_LEIS_TV"].astype(int).mean() / 60)
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_LEIS_TV"].astype(int).mean() / 60)
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_LEIS_TV"].astype(int).mean() / 60)
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_LEIS_TV"].astype(int).mean() / 60)
print("_____")
print("MARRIED PEOPLE:", married["BLS_LEIS_TV"].astype(int).mean() / 60)

SINGLE PEOPLE: 2.77161944169
_____
DIVORCED PEOPLE: 3.15803217197
_____
WIDOWED PEOPLE: 3.96086999867
_____
SEPARATED PEOPLE: 3.16067940552
_____
MARRIED LONGDIST PEOPLE: 2.74465993266
_____
MARRIED PEOPLE: 2.53301140031

# BLS_SOCIAL_VOL : Volunteer Activities

In [57]:
print("SINGLE PEOPLE:", single["BLS_SOCIAL_VOL"].astype(int).mean())
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_SOCIAL_VOL"].astype(int).mean())
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_SOCIAL_VOL"].astype(int).mean())
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_SOCIAL_VOL"].astype(int).mean())
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_SOCIAL_VOL"].astype(int).mean())
print("_____")
print("MARRIED PEOPLE:", married["BLS_SOCIAL_VOL"].astype(int).mean())

SINGLE PEOPLE: 7.22220340213
_____
DIVORCED PEOPLE: 7.98515472841
_____
WIDOWED PEOPLE: 11.3043998405
_____
SEPARATED PEOPLE: 6.42908704883
_____
MARRIED LONGDIST PEOPLE: 5.77858585859
_____
MARRIED PEOPLE: 11.4396583471

# BLS_SOCIAL_CIVIC : Civic Obligations & Participation

In [58]:
print("SINGLE PEOPLE:", single["BLS_SOCIAL_CIVIC"].astype(int).mean())
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_SOCIAL_CIVIC"].astype(int).mean())
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_SOCIAL_CIVIC"].astype(int).mean())
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_SOCIAL_CIVIC"].astype(int).mean())
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_SOCIAL_CIVIC"].astype(int).mean())
print("_____")
print("MARRIED PEOPLE:", married["BLS_SOCIAL_CIVIC"].astype(int).mean())

SINGLE PEOPLE: 0.144651196554
_____
DIVORCED PEOPLE: 0.104436269206
_____
WIDOWED PEOPLE: 0.0784261597767
_____
SEPARATED PEOPLE: 0.128237791932
_____
MARRIED LONGDIST PEOPLE: 0.0222222222222
_____
MARRIED PEOPLE: 0.0901531260766

# BLS_WORK : Work & work-related specifications

In [61]:
print("SINGLE PEOPLE:", single["BLS_WORK"].astype(int).mean() / 60)
print("_____")
print("DIVORCED PEOPLE:", divorced["BLS_WORK"].astype(int).mean() / 60)
print("_____")
print("WIDOWED PEOPLE:", widowed["BLS_WORK"].astype(int).mean() / 60)
print("_____")
print("SEPARATED PEOPLE:", separated["BLS_WORK"].astype(int).mean() / 60)
print("_____")
print("MARRIED LONGDIST PEOPLE:", married_longdist["BLS_WORK"].astype(int).mean() / 60)
print("_____")
print("MARRIED PEOPLE:", married["BLS_WORK"].astype(int).mean() / 60)

SINGLE PEOPLE: 2.87481468935
_____
DIVORCED PEOPLE: 3.03318329366
_____
WIDOWED PEOPLE: 0.839269573309
_____
SEPARATED PEOPLE: 2.98141896674
_____
MARRIED LONGDIST PEOPLE: 3.1023973064
_____
MARRIED PEOPLE: 3.11323568428

In [63]:
def conv_int(x):
    return int(x)

In [65]:
married.groupby("YEAR")["BLS_WORK"].mean() / 60

DataError: No numeric types to aggregate

In [66]:
df["BLS_WORK_INT"] = df["BLS_WORK"].apply(conv_int)

In [67]:
df["BLS_WORK_OTHER_INT"] = df["BLS_WORK_OTHER"].apply(conv_int)

In [68]:
df["BLS_WORK_SEARCH_INT"] = df["BLS_WORK_SEARCH"].apply(conv_int)

In [71]:
df.groupby("YEAR")["BLS_WORK_INT"].mean()

YEAR
2003    173.189044
2004    169.969441
2005    174.412640
2006    172.511782
2007    179.661659
2008    174.218188
2009    166.244727
2010    167.288612
2011    169.824906
2012    165.278148
2013    165.764690
2014    168.273896
2015    166.516277
Name: BLS_WORK_INT, dtype: float64

In [72]:
df.groupby("YEAR")["BLS_WORK_OTHER_INT"].mean()

YEAR
2003    1.680985
2004    1.560366
2005    1.578310
2006    1.509233
2007    1.747551
2008    1.674291
2009    1.591183
2010    2.112670
2011    1.993669
2012    1.505023
2013    1.178656
2014    1.309524
2015    1.264649
Name: BLS_WORK_OTHER_INT, dtype: float64

In [73]:
df.groupby("YEAR")["BLS_WORK_SEARCH_INT"].mean()

YEAR
2003    1.260183
2004    1.017176
2005    0.918776
2006    1.084293
2007    1.024984
2008    1.574157
2009    1.961319
2010    2.245626
2011    2.028528
2012    1.941734
2013    1.864559
2014    1.698930
2015    1.191105
Name: BLS_WORK_SEARCH_INT, dtype: float64

In [75]:
employed = df[ (df["EMPSTAT"] == "1") | (df["EMPSTAT"] == "2")]

In [77]:
unemployed = df[ (df["EMPSTAT"] == "3") | (df["EMPSTAT"] == "4")]

# Employed Folks at work and looking for jobs

In [79]:
employed.groupby("YEAR")["BLS_WORK_INT"].mean() / 60

YEAR
2003    4.415758
2004    4.418422
2005    4.416517
2006    4.453354
2007    4.592080
2008    4.433504
2009    4.393377
2010    4.501376
2011    4.619340
2012    4.502244
2013    4.535426
2014    4.597051
2015    4.459148
Name: BLS_WORK_INT, dtype: float64

In [84]:
employed.groupby("YEAR")["BLS_WORK_OTHER_INT"].mean()

YEAR
2003    1.611610
2004    1.051250
2005    1.228946
2006    1.239030
2007    1.604077
2008    1.430605
2009    1.318182
2010    1.647213
2011    1.631277
2012    1.415016
2013    0.862544
2014    0.820023
2015    0.946740
Name: BLS_WORK_OTHER_INT, dtype: float64

In [85]:
employed.groupby("YEAR")["BLS_WORK_SEARCH_INT"].mean()

YEAR
2003    0.510412
2004    0.316212
2005    0.387238
2006    0.345091
2007    0.320081
2008    0.667802
2009    0.584257
2010    0.525751
2011    0.667601
2012    0.377141
2013    0.730803
2014    0.683281
2015    0.545129
Name: BLS_WORK_SEARCH_INT, dtype: float64

# Unemployed folks at work and looking for jobs

In [97]:
unemployed.groupby("YEAR")["BLS_WORK_INT"].mean() / 60

YEAR
2003    0.503000
2004    0.457077
2005    0.454554
2006    0.548927
2007    0.447810
2008    0.516756
2009    0.534769
2010    0.584034
2011    0.590829
2012    0.590355
2013    0.568289
2014    0.597525
2015    0.505193
Name: BLS_WORK_INT, dtype: float64

In [98]:
employed.groupby("YEAR")["BLS_WORK_OTHER_INT"].mean()

YEAR
2003    1.611610
2004    1.051250
2005    1.228946
2006    1.239030
2007    1.604077
2008    1.430605
2009    1.318182
2010    1.647213
2011    1.631277
2012    1.415016
2013    0.862544
2014    0.820023
2015    0.946740
Name: BLS_WORK_OTHER_INT, dtype: float64

In [99]:
employed.groupby("YEAR")["BLS_WORK_SEARCH_INT"].mean()

YEAR
2003    0.510412
2004    0.316212
2005    0.387238
2006    0.345091
2007    0.320081
2008    0.667802
2009    0.584257
2010    0.525751
2011    0.667601
2012    0.377141
2013    0.730803
2014    0.683281
2015    0.545129
Name: BLS_WORK_SEARCH_INT, dtype: float64

# Activities by Year

In [87]:
df["BLS_LEIS_SOC_INT"] = df["BLS_LEIS_SOC"].apply(conv_int)
df["BLS_HHACT_INT"] = df["BLS_HHACT"].apply(conv_int)
df["BLS_LEIS_TV_INT"] = df["BLS_LEIS_TV"].apply(conv_int)
df["BLS_SOCIAL_VOL_INT"] = df["BLS_SOCIAL_VOL"].apply(conv_int)
df["BLS_SOCIAL_CIVIC_INT"] = df["BLS_SOCIAL_CIVIC"].apply(conv_int)

In [90]:
# Average amount of time people spend socializing
df.groupby("YEAR")["BLS_LEIS_SOC_INT"].mean() / 60

YEAR
2003    4.746146
2004    4.867170
2005    4.715883
2006    4.729115
2007    4.731993
2008    4.853566
2009    4.908328
2010    4.793379
2011    4.883762
2012    4.987302
2013    4.980176
2014    4.995642
2015    4.909161
Name: BLS_LEIS_SOC_INT, dtype: float64

In [91]:
# Average amount of time people spend on household activities
df.groupby("YEAR")["BLS_HHACT_INT"].mean() / 60

YEAR
2003    2.097416
2004    2.086126
2005    2.106356
2006    2.080515
2007    2.077184
2008    2.020168
2009    2.044269
2010    1.998384
2011    2.013021
2012    2.008227
2013    1.988305
2014    2.011133
2015    2.084733
Name: BLS_HHACT_INT, dtype: float64

In [92]:
# Average amount of time people spend watching tv or movies
df.groupby("YEAR")["BLS_LEIS_TV_INT"].mean() / 60

YEAR
2003    2.662111
2004    2.729668
2005    2.622327
2006    2.686094
2007    2.726085
2008    2.887747
2009    2.908079
2010    2.856826
2011    2.908398
2012    2.977440
2013    2.957084
2014    2.970099
2015    2.944772
Name: BLS_LEIS_TV_INT, dtype: float64

In [95]:
# Average amount of time people spend on volunteer activities
df.groupby("YEAR")["BLS_SOCIAL_VOL_INT"].mean()

YEAR
2003     8.978571
2004     9.766407
2005     9.950606
2006     9.331067
2007    10.232283
2008    10.011318
2009     9.953324
2010    10.357391
2011     9.953602
2012     9.363096
2013     9.420817
2014     9.489303
2015     9.984411
Name: BLS_SOCIAL_VOL_INT, dtype: float64